.App {
  text-align: center;
  height: 100vh;
}

.leaflet-container {
  height: 100%;
}

.control-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 12vw;
  bottom: 0;
  z-index: 1000;
  background-color: white;
}
